extends ../layout/comon

block content

    h1 Create User

    if erros
        each erro in erros 
            .alert.alert-danger= erro
   

    form(action="/users/create", method="POST" )
        .mb-3
            label.form-label(for='name') Name
            input#name.form-control(type='text', name='name', value=values? values.name: '')
            label.form-label(for='phone') Phone
            input#phone.form-control(type='text', name='phone', value=values? values.phone: '')
        
        button.btn.btn-primary Create
